{
  "ConnectionStrings": {
    "OracleSource": "User Id=legacy_user;Password=YOUR_ORACLE_PASSWORD;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=oracle-test.company.com)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TESTDB)))",
    "SqlServerDestination": "Server=sqlserver-test.company.com;Database=BlockSyncDest;User Id=sync_user;Password=YOUR_SQLSERVER_PASSWORD;TrustServerCertificate=True;Encrypt=True;Connection Timeout=30;"
  }
}
